@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: myFont;
  src: url(/src/fonts/U8-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myFont;
}

:root {
  --paddingValue: 1.2em 5em;
  --borderRadius: 8px;
  --whiteColor: #fff;
  --greyColor: #ededed;
  --blackColor: #28282B;
  --primaryColor: #e7053e;
  --secondaryColor: #683ca2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 3.5em;
}

h4 {
  color: var(--whiteColor);
  position: relative;
  text-align: center;
  margin: 0 auto;
}

h4::after, h4::before {
  content: "";
  width: 10vw;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: var(--borderRadius);
}

header {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, var(--secondaryColor), var(--greyColor));
  background-attachment: fixed;
}

span {
  color: var(--primaryColor);
}


.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--blackColor);
  font-size: 1.1em;
  font-weight: 500;
  font-family: myFont;
}

nav img {
  width: 180px;
}

nav div a {
  margin-left: 1.2em;
}

#mobileMenu {
  display: none;
}

i {
  font-size: 1.4em;
}

nav a:hover {
  color: var(--primaryColor)
}

nav {
  padding: var(--paddingValue);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  border-bottom: 2px solid var(--greyColor);
}

.linkBtn {
  background-color: var(--secondaryColor);
  padding: .6em;
  color: var(--whiteColor);
  border-radius: var(--borderRadius);
  transition: .2s ease-in-out;
}

.linkBtn:hover, #downloadBtn:hover {
  background-color: var(--primaryColor);
  color: var(--greyColor);
  border: none;
}

#heroSec {
  height: 100vh;
  padding-top: 400px;
  padding: 140px 5em;
  display: flex;
  justify-content: space-between;
}

#heroSec div {
  flex-basis: 50%;
}

#heroSec div img {
  width: 350px;
  border-radius: var(--borderRadius);
}

#about {
  padding: var(--paddingValue);
  background-color: var(--greyColor);
}

#innerAbout {
  display: flex;
  align-items: center;
  padding: 2em;
  background-color: var(--whiteColor);
  border-radius: var(--borderRadius);
  margin-top: 100px;
  margin-bottom: 100px;
}

#aboutText {
  padding-right: 30px;
}

#social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
}

#innerAbout img {
  width: 250px;
  border-radius: var(--borderRadius);
  margin-right: 50px;
}

#downloadBtn {
  background-color: transparent;
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
}

#skillsCon {
  background-color: var(--secondaryColor);
  padding: 1.4em 0;
}

#skillText {
  padding: var(--paddingValue);
}

#skillsCardCon {
  display: flex;
  flex-wrap: wrap;
  padding: var(--paddingValue);
  justify-content: center;
  background-color: var(--whiteColor);
}

.skillCard {
  width: calc(100%/3.18);
  padding: 1em;
  border-radius: var(--borderRadius);
  box-shadow: 0 0 5px 0 var(--secondaryColor);
  margin-bottom: 20px;
  margin-left: 20px;
}

.skillCard i {
  font-size: 3em;
  margin-bottom: 10px;
  color: var(--secondaryColor);

}

.skillCard:hover, .skillCard:hover i {
  background-color: var(--secondaryColor);
  color: var(--whiteColor);
}

.skillCard:hover #skillPro {
  background-color: var(--greyColor);
  color: var(--blackColor);
}

#skillProCon {
  width: 100%;
  background-color: var(--blackColor);
  border-radius: var(--borderRadius);
}

#skillPro {
  background-color: var(--secondaryColor);
  border-radius: inherit;
  text-align: end;
  padding-right: 10px;
  color: #ededed;
  font-size: .6em;
}

#customerReview {
  padding: 50px 5em;
  background-color: var(--greyColor);
}

blockquote {
  height: 20vh;
  overflow: hidden;
}