@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: myFont;
  src: url(/src/fonts/U8-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --paddingValue: 1.2em 5em;
  --borderRadius: 8px;
  --whiteColor: #fff;
  --greyColor: #ededed;
  --blackColor: #28282B;
  --secondaryColor: #2b2d42;
  --primaryColor: #683ca2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 3.5em;
}

h4 {
  color: var(--secondaryColor);
  text-align: center;
}

header {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, var(--secondaryColor), var(--greyColor));
}

span {
  color: var(--primaryColor);
}


.flex {
  display: flex;
}

a {
  text-decoration: none;
  color: var(--blackColor);
  font-size: 1.1em;
  font-weight: 500;
  font-family: myFont;
}

nav img {
  width: 180px;
}

nav div a {
  margin-left: 1.2em;
}

#mobileMenu {
  display: none;
}

i {
  font-size: 1.4em;
}

nav a:hover {
  color: var(--primaryColor)
}

nav {
  padding: var(--paddingValue);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
}

.linkBtn {
  background-color: var(--secondaryColor);
  padding: .6em;
  color: var(--whiteColor);
  border-radius: var(--borderRadius);
  transition: .2s ease-in-out;
}

.linkBtn:hover, #downloadBtn:hover {
  background-color: var(--primaryColor);
  color: var(--greyColor);
  border: none;
}

#heroSec {
  height: 100vh;
  padding-top: 400px;
  padding: 140px 5em;
  display: flex;
  justify-content: space-between;
}

#heroSec div {
  flex-basis: 50%;
}

#heroSec div img {
  width: 350px;
  border-radius: var(--borderRadius);
}

#about {
  padding: var(--paddingValue);
  background-color: var(--greyColor);
}

#innerAbout {
  display: flex;
  align-items: center;
  padding: 2em;
  background-color: var(--whiteColor);
  border-radius: var(--borderRadius);
  margin-top: 100px;
  margin-bottom: 100px;
}

#aboutText {
  padding-right: 30px;
}

#social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 5px;
}

#innerAbout img {
  width: 250px;
  border-radius: var(--borderRadius);
  margin-right: 50px;
}

#downloadBtn {
  background-color: transparent;
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
}

#skillsCon {
  background-image: linear-gradient(to bottom , var(--secondaryColor), var(--whiteColor));
  padding: 1.4em 0;
}

#skills {
  background-color: #fff;
  padding: var(--paddingValue);
}

#skillText {
  padding: var(--paddingValue);
}

.skillCard {
  text-align: center;
  padding: 1em;
  margin-bottom: 20px;
  transition: .2s ease-in-out;
  margin-left: 20px;
}

.skillCard h5 {
  font-size: 1em;
}

.skillCard i {
  font-size: 3em;
  margin-bottom: 10px;
  color: var(--secondaryColor) !important;

}

#portfolio {
  padding: 50px 5em;
}

#portfolioCon, #cardMain {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

#portfolioCard {
  width: calc(100%/3.2);
  height: 250px;
  border: 1px solid var(--secondaryColor);
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 0 var(--secondaryColor);
  overflow: hidden;
  position: relative;
  border-radius: var(--borderRadius);
}

#cardMain p {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: var(--secondaryColor);
  color: var(--whiteColor);
  width: 100%;
  padding: 5px;
}

.portBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 0%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: .3s ease-in-out;
}

#cardMain .portBtn a {
  padding: 10px;
  background-color: var(--secondaryColor);
  border-radius: 50%;
  color: #fff;
}

#portfolioCard:hover .portBtn {
  height: 100%;
}

#portfolioCard img {
  object-fit: contain;
  border-radius: inherit;
}

#cardMain {
  flex-wrap: wrap;
  justify-content: space-between;
}

#seeMoreBtn {
  padding: 20px;
  margin: 20px auto;
  color: var(--greyColor);
  background-color: var(--blackColor);
  display: inline-block;
  border-radius: var(--borderRadius);
}

#services {
  display: flex;
  justify-content: space-between;
  background-color: var(--greyColor);
  margin-top: 50px;
}

#servicesText {
  color: var(--greyColor);
  padding: 50px 5em;
  flex-basis: 40%;
  background-color: var(--secondaryColor);
}

#servicesList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 60%;
  padding: 50px 3em;
  gap: 20px;
  justify-content: space-between;
}

#servicesCard {
  width: calc(100%/2.2);
  text-align: center;
}

#servicesCard img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

#education {
  padding: var(--paddingValue);
}

#educationCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#eduCard {
  width: calc(100%/3.2);
  padding: 1em;
  box-shadow: 0 0 5px 0 var(--primaryColor);
}

footer {
  background-color: var(--secondaryColor);
  padding: var(--paddingValue);
  text-align: center;
  color: var(--whiteColor);
}
